<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>eStateCitizen - a final exam spring boot webapp featuring CRUD</title>
</head>
<body>

    <!--Thymeleaf placeholder for the page Content-->
    <th:block layout:fragment="content">
        <h3>Welcome to the eStateCitizen Management System (eStateCitizen)</h3>
        <hr/>
        <div style="font-size: 1em">
            <img th:src="@{/images/banner1.png}"/><br/><br/>
            <p>Lorem Ipsu is smply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumy text ever since the
            1500s, where an unknow printer took a galley and scrambled it to make a type specimen book.
            </p>
        </div>
    </th:block>
    <!--End placeholder-->

</body>
</html>
